<%= form_with model: post, id: "post_form" do |f| %>
  <div class="error_messages"></div>
  <div style="display:flex; align-items: center;">
    <%= f.text_field :body, placeholder: '今の気分は？', style: 'margin: 0 5px 0 0;' %>
    <%= f.submit %>
  </div>
<% end %>
